div .red-div{
	background-color: blue;
}

body{
	background-color: aqua;
}

a .link-white{
	color: white;
}

/* #social-media a i{
	width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0px 0px 0px 5px;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: 24px;
    float: left;
    display: block;
    color: #fff;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
} */

#social-media{
	text-align: center;
}

.profile-cover{
	object-fit: cover;
	object-position: center;
	width: 100%;
}

/* .profile-cover-row{
	object-fit: cover;
	object-position: center;
} */

@media (min-width: 992px){
	.profile-cover{
		height: 150px;
	}
}

@media (min-width: 1200px){
	.profile-cover{
		height: 200px;
	}
}

.profile-photo{
	width: 250px;
	object-fit: scale-down;
	object-position: center;
	border-style: solid;
	border-width: 3px;
	border-color: rgba(18, 18, 18, 0.5);
}

@media (min-width: 768px){
	.profile-photo{
		width: 200px;
	}
}

@media (min-width: 992px){
	.profile-photo{
		width: 150px;
		top: -75px;
	}
}
@media (min-width: 992px){
	#one-line-summary-vertical{
		top: -60px
	}
}