div .red-div{
	background-color: blue;
}

body{
	background-color: aqua;
}

a .link-white{
	color: white;
}

#social-media{
	text-align: center;
}

.profile-cover{
	object-fit: cover;
	object-position: center;
	width: 100%;
}

@media (min-width: 992px){
	.profile-cover{
		height: 150px;
	}
}

@media (min-width: 1200px){
	.profile-cover{
		height: 200px;
	}
}

.profile-photo{
	width: 250px;
	object-fit: scale-down;
	object-position: center;
	border-style: solid;
	border-width: 3px;
	border-color: rgba(18, 18, 18, 0.5);
}

@media (min-width: 768px){
	.profile-photo{
		width: 200px;
	}
}

@media (min-width: 992px){
	.profile-photo{
		width: 150px;
		top: -75px;
	}
}

@media (min-width: 992px){
	#one-line-summary-vertical{
		top: -60px
	}
}

.border-bottom-stylish-dark{
	border-bottom: 1px solid #3e4551;
}

.no-border-top{
	border-bottom-width: 0px;
}

.flip{
	-webkit-perspective: 800;
	perspective: 800;

	/* position: relative; */
}

.flip .card.flippable{
	-webkit-transform: rotateY(-10deg);
	transform: rotateY(-10deg);
}

.flip .card.flipped{
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.flip .card{
	/* height: 100%; */
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	transform-style: preserve-3d;
	transition: 0.5s;
}

.flip .card .face {
	-webkit-backface-visibility: hidden ;
	backface-visibility: hidden ;
	z-index: 2;
}

.flip .card .front {
	position: absolute;
	/* width: 100%; */
	z-index: 1;
}

.flip .card .back {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	/* z-index: 2; */
}

.project-cover{
	width:200px;
	height:200px;
	object-fit: scale-down;
	object-position: center;
	border-style: solid;
	border-width: 3px;
	border-color: rgba(18, 18, 18, 0.5);
}

@media (min-width:768px){
	.project-cover{
		width:250px;
		height:250px;
	}
}

@media (min-width:992px){
	.project-cover{
		width: 160px;
		height: 160px;
	}
}
